Tutorial3/Node-red/API_cloudant_proxy_flow.json
[{"id":"41bf149d.c61d24","type":"http in","name":"Sensor History REST API","url":"/sensors/*/history","method":"get","x":135,"y":146,"z":"16bea398.4fde6c","wires":[["caacdf1.c929c2"]]},{"id":"caacdf1.c929c2","type":"function","name":"Convert To Cloudant URL","func":"// extract sensor name from url\nvar sensorName = msg.req.path.split('/')[2];\n\n// calculate range in days\n// default history is 14 days, max history is 1 year\nvar days = msg.req.param('days');  \nif (isNaN(days) || days < 0 || days > 366) {\n\tdays = 14;\n}\nvar fromDate = new Date(new Date() - (86400000 * days)).toJSON();\nvar toDate = new Date().toJSON();\n\n// compose cloudant URL\nvar cloudantHost = 'https://fa659ce6-9b79-455b-9520-2dbe4263a277-bluemix.cloudant.com';\nvar cloudantPath = '/poseidonsensors/_design/sensors/_list/csv/history';\nvar cloudantParams = '?startkey=[%22' + sensorName + '%22,%20%22' + fromDate + '%22]&endkey=[%22' + sensorName + '%22,%20%22' + toDate + '%22]' ;\nmsg.url = cloudantHost + cloudantPath + cloudantParams;\n\n// clear old stuff\nmsg.payload = null;\nmsg.headers = null;\n\nreturn msg;","outputs":1,"x":392,"y":194,"z":"16bea398.4fde6c","wires":[["fce548f8.67f758"]]},{"id":"fce548f8.67f758","type":"http request","name":"Cloudant GET","method":"GET","url":"","x":623,"y":139,"z":"16bea398.4fde6c","wires":[["cbf31d29.340ce"]]},{"id":"fce6ba33.031948","type":"http in","name":"Sensor List REST API","url":"/sensors","method":"get","x":121,"y":233,"z":"16bea398.4fde6c","wires":[["6c1d9e45.93e26"]]},{"id":"6c1d9e45.93e26","type":"function","name":"Convert To Cloudant URL","func":"\n// compose cloudant URL\nvar cloudantHost = 'https://fa659ce6-9b79-455b-9520-2dbe4263a277-bluemix.cloudant.com';\nvar cloudantPath = '/poseidonsensors/_design/sensors/_list/json/summary';\nvar cloudantParams = '?group=true';\nmsg.url = cloudantHost + cloudantPath + cloudantParams;\n\n// clear old stuff\nmsg.payload = null;\nmsg.headers = null;\n\nreturn msg;","outputs":1,"x":386,"y":282,"z":"16bea398.4fde6c","wires":[["9e90e24c.616f2"]]},{"id":"bc4cabc1.43b358","type":"http response","name":"Send HTTP Response","x":1088,"y":181,"z":"16bea398.4fde6c","wires":[]},{"id":"9e90e24c.616f2","type":"http request","name":"Cloudant GET","method":"GET","url":"","x":627,"y":241,"z":"16bea398.4fde6c","wires":[["cbf31d29.340ce"]]},{"id":"cbf31d29.340ce","type":"function","name":"Add CORS Header","func":"msg.headers[\"Access-Control-Allow-Origin\"] = '*';\n\nreturn msg;","outputs":1,"x":852,"y":181,"z":"16bea398.4fde6c","wires":[["bc4cabc1.43b358"]]}]