Tutorial2/Cloudant/cloundant_proxy_nodered-node.json
[{"id":"c63777af.39c888","type":"http in","name":"Sensor History REST API","url":"/*/history","method":"get","x":112,"y":174,"z":"5cef037e.a310fc","wires":[["75c088bf.8a3f78"]]},{"id":"75c088bf.8a3f78","type":"function","name":"Convert To Cloudant URL","func":"// extract sensor name from url\nvar sensorName = msg.req.path.split('/')[1];\n\n// calculate range in days\n// default history is 14 days, max history is 1 year\nvar days = msg.req.param('days');  \nif (isNaN(days) || days < 0 || days > 366) {\n\tdays = 14;\n}\nvar fromDate = new Date(new Date() - (86400000 * days)).toJSON();\nvar toDate = new Date().toJSON();\n\n// compose cloudant URL\nvar cloudantHost = 'https://c0b33b28-0a38-42c3-af13-378cd52a76f1-bluemix.cloudant.com';\nvar cloudantPath = '/poseidonsensors/_design/sensors/_list/csv/history';\nvar cloudantParams = '?startkey=[%22' + sensorName + '%22,%20%22' + fromDate + '%22]&endkey=[%22' + sensorName + '%22,%20%22' + toDate + '%22]' ;\nmsg.url = cloudantHost + cloudantPath + cloudantParams;\n\n// clear old stuff\nmsg.payload = null;\nmsg.headers = null;\n\nreturn msg;","outputs":1,"x":309,"y":253,"z":"5cef037e.a310fc","wires":[["7cd88157.83278"]]},{"id":"7cd88157.83278","type":"http request","name":"Cloudant GET","method":"GET","url":"","x":536,"y":173,"z":"5cef037e.a310fc","wires":[["3359b78d.cca648"]]},{"id":"3359b78d.cca648","type":"http response","name":"Send HTTP Response","x":773,"y":260,"z":"5cef037e.a310fc","wires":[]}]